.wrap {
  border: 2px solid black;
  border-radius: 15px;
  padding-top: 15px;
  width: 500px;
}
.avatar {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #363636;
  margin-bottom: 20px;
}
.name {
  font-weight: 600;
  font-size: 40px;
  color: black;
  margin-bottom: 15px;
}
.tag {
  font-weight: 500;
  font-size: 30px;
  color: #4d4c4cc2;
  margin-bottom: 8px;
}
.localion {
  font-weight: 500;
  font-size: 30px;
  color: #4d4c4cc2;
  margin-bottom: 15px;
}
.statsList {
  display: flex;
  width: 100%;
  border-top: 2px solid #4d4c4cc2;
}
.statsListItem {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: black;
  background-color: #4d4c4c70;
  width: calc(100% / 3);
}
.statsListItem:first-child {
  border-right: 2px solid #4d4c4cc2;
  border-radius: 0 0 0 12px;
}
.statsListItem:last-child {
  border-left: 2px solid #4d4c4cc2;
  border-radius: 0 0 12px 0;
}
.statsName {
  font-weight: 400;
  font-size: 30px;
  color: black;
  margin-bottom: 8px;
}
.statsValue {
  font-weight: 600;
  font-size: 40px;
  color: black;
}
